<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Wall</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.jumbotron{
    padding: 30px;
    background-color:rgb(150, 128, 150);
}
button{
    margin: 10px;
}
.container{
    text-align: center;
}
</style>    
</head>
<body>
    <div class="jumbotron">
        <h3 class="m-4">CodingDojo The Wall</h3> 
    </div>
    <div class="container"> 
        <h3 class=>Thank You For Logging Out!</h3>  
        <a href="{{request.META.HTTP_REFERER|escape}}">Back</a> 
    </div>
</body>   
</html>  